.map-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: $extra-small 0;
  background-color: azure;
  .map {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 60rem;
    border: 2px solid rgb(70, 69, 69);
    padding: 2rem;
    background-color: aliceblue;
    .address-container {
      img {
        width: 100%;
        height: 30rem;
      }
      address {
        font-size: 1.6rem;
        padding-top: 2rem;
      }
    }
  }
}
